node_modules/

.env
.env.local
.env.test

dist/

build/

.next/

*.log

cookies*.txt

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
*.pkg
terraform/terraform.tfstate.*.backup
